body {
    font-family: Montserrat;
    color: rgb(255, 255, 255);
    background-color: rgb(1, 2, 31);
}

.header {
    position: absolute;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    top: 25%;
    left: 40%;
    transition: top 1s ease-out, left 1s ease-out, max-width 1s ease, opacity 1s ease;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    font-size: 3em;
    background-color: rgba(3, 5, 46, 0.603);
    backdrop-filter: blur(2px);
    border-radius: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-left: 20%;
    margin-right: auto;
}
  
.nav-links a {
    text-decoration: none;
    margin: 0 150px;
    color: rgb(255, 255, 255);
}

.accroche {
    width: 50%;
    margin-left: 10%;
    margin-top: 3%;
    word-wrap: normal;
    padding: 1px;
}

.titre-accroche {
    font-size: 100px;
}

.phrase-accroche{
    font-size: 30px;;
}